.accountButton:before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-brands);
  position: absolute;
  left: 1rem;
  font-size: 1.7rem;
}

#AmazonExchange {
  &:before {
    content: "\f270";
  }

  &:hover {
    background-color: #36474f !important;
  }
}

#FacebookExchange {
 &:before {
   content: "\f09a";
 }

  &:hover {
    background-color: #3b5595 !important;
  }
}

#GitHubExchange {
  &:before {
    content: "\f09b";
  }

  &:hover {
    background-color: #0f0f0f !important;
  }
}

#AppleExchange, #AppleManagedExchange {
  &:before {
    content: "\f179";
  }
}

#AppleExchange:hover, #AppleManagedExchange:hover {
  background-color: #0f0f0f !important;
}

#GoogleExchange {
  &:before {
    content: "\f1a0";
  }

  &:hover {
    background-color: #c64a29 !important;
  }
}

#LinkedInExchange {
  &:before {
    content: "\f08c";
  }

  &:hover {
    background-color: #0274b3 !important;
  }
}

#MicrosoftAccountExchange {
  &:before {
    content: '\f3ca';
  }

  &:hover {
    background-color: #01a4ef !important;
  }
}

#QQExchange {
  &:before {
    content: "\f1d6";
  }

  &:hover {
    background-color: #1a97df !important;
  }
}

#TwitterExchange {
  &:before {
    content: "\f099";
  }

  &:hover {
    background-color: #1da1f2 !important;
  }
}

#WeChatExchange {
  &:before {
    content: "\f1d7";
  }

  &:hover {
    background-color: #4cc522 !important;
  }
}

#WeiboExchange {
  &:before {
    content: "\f18a";
  }

  &:hover {
    background-color: #e81123 !important;
  }
}

#SignInWithLogonNameExchange, #SignUpWithLogonEmailExchange, #SignUpWithLogonNameExchange {
  background-image: url(#{$domain}/assets/images/icons/envelope.svg);
  background-size: 10% 70%;
  background-position-x: 3%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

#SignInWithLogonNameExchange:hover, #SignUpWithLogonEmailExchange:hover, #SignUpWithLogonNameExchange:hover {
  background-color: #1662c7 !important;
}

#SignUpWithLogonEmailExchange.text-link {
  background-image: none;
  background-color: transparent !important;

  &:hover {
    background-image: none;
    background-color: transparent !important;
  }
}
