.unified_container .row .panel-default {
  padding: 40px 30px;
  margin-top: auto;
  margin-bottom: auto;
  //height: 100%;
  background-color: #fff;

  .panel-body {
    max-width: 380px;
    width: auto;
    margin: 0 auto;
    //padding: 0;
    //padding: 3rem 1rem; //idp

    .companyName {
      font-size: 1.5em;
      margin-bottom: 45px;
    }

    .companyLogo {
      display: block;
    }

    img {
      max-width: 100%;
      width: auto;
      height: 70px;
      margin: 0 auto;
      display: block;
    }

    h3 {
      font-size: 1.5em;
      display: none;
    }
  }

  #api {
    .divider {
      display: none;
    }
  }
}

//@media screen and (-ms-high-contrast: active) {
//  .unified_container .row .panel-default #api {
//    .accountButton, .localAccount .entry .buttons button {
//      border: 1px dashed #fff;
//    }
//
//    .accountButton:hover, .localAccount .entry .buttons button:hover {
//      border: 1px solid #fff;
//    }
//  }
//}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.unified_container .row .panel-default #api .localAccount {
  .entry .entry-item .password-label #forgotPassword {
    position: absolute;
    bottom: 0;
    clear: right;
    cursor: pointer;
    text-align: right;
  }

  .rememberMe {
    margin-top: -2rem;
    text-align: right;
    margin-left: 59%;
    position: relative;
    width: 15rem;

    &.align-to-left {
      margin-top: 0.5rem;
      text-align: left;
      margin-left: 0;
      width: 100%;
    }
  }
}

.unified_container .row .panel-default #api {
  .claims-provider-list-text-links p {
    text-align: left;
    margin-top: -3rem;
    margin-bottom: 3rem;
  }

  .localAccount .create {
    p {
      text-align: left;
      margin-top: -1.5rem;
      margin-bottom: 1rem;
      font-size: 14px;
    }

    #createAccount {
      //border-radius: 0.5rem;
      //display: inline-block;
      //font-size: 1em;
      //font-weight: 400;
      //height: inherit;
      //line-height: 1.3333333;
      padding: 10px 16px;
      //text-align: center;
      touch-action: manipulation;
      user-select: none;
      //white-space: nowrap;
      -moz-user-select: none;
      -ms-touch-action: manipulation;
      -ms-user-select: none;
      -webkit-user-select: none;
      //width: auto;
      //margin-top: -3rem;
      //cursor: pointer;
      animation: 0.5s ease-out 0s 1 slideInFromRight;
    }
  }

  .social {
    display: table-footer-group;
    position: relative;
    top: 1px;
    width: auto;
  }

  .accountButton {
    @extend .btn;
    @extend .btn-light;
    height: 45px;
    width: 100%;
    margin-top: 10px;

    &:hover {
      color: #fff;
      background-color: #1662c7;
    }
  }
}

.claims-provider-list-text-links-bottom-under-form {
  text-align: left;
}

@media screen and (max-width: 320px) {
  .unified_container .row .panel-default #api .localAccount {
    .rememberMe {
      margin-top: 1.75rem;
      text-align: left;
      margin-left: 0;
      width: 100%;
    }

    .entry .entry-item .password-label #forgotPassword {
      bottom: -1rem;
    }
  }

  .forgot-password.center-height {
    top: 0;
    right: 12rem;
    position: relative;
  }
}
